name: 中青每日任务&转盘抽奖2

on:
  workflow_dispatch:
  schedule:
     - cron: '1,31 20-23,0-10 * * *'
  watch:
    types: started

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    env:
        YOUTH_HEADER: ${{ secrets.YOUTH_HEADER2 }}
        YOUTH_ARTBODY: ${{ secrets.YOUTH_ARTBODY2 }}
        YOUTH_TIME: ${{ secrets.YOUTH_TIME2 }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install
        if: env.YOUTH_HEADER
        run: |
          npm install
      - name: '运行 【中青每日任务&转盘抽奖】'
        if: env.YOUTH_HEADER
        run: |
          node youth.js
